<p><%= current_order.first_name %>, thank you for your order!</p>
<p>You will receive your <%= current_order.quantity %> bottles of Purple Drank soon!</p>
<p><%= link_to 'Go Back Home', root_path%></p>